<!--添加新的地址 overlay start-->
<div class="overlay_edit_address" id="overlay_add_address">
    <h2>添加新的地址</h2>
    <p class="note"><strong>* 为必填写栏目</strong>。 </p>
    <form action="/address/?t=ajax&a=save" id="checkoutChangeAddressForm" method="post" class="address_form" onsubmit="return fillAddressBox(<{$n}>)">
    <dl>
        <dd><label>
                <span><i class="golden">* </i>姓名</span>
                <input type="text" name="truename" value="<{if $addrs.receiver_name|default:''}><{$addrs.receiver_name}><{/if}>" class="text required" onblur="checkEmpty(this)" data-msg="请输入您的姓名" />
            </label>
            <span class="error_tips"></span>
        </dd>
        <dd><label class="cellphone_num">
                <span><i class="golden">* </i>手机</span>
                <input type="text" name="mobile" value="<{if $addrs.receiver_phone|default:''}><{$addrs.receiver_phone}><{/if}>" id="mobile" class="text required" onblur="checkMobile(this)" data-msg="请输入您的手机号码" />
   				<input name="mmobile" type="hidden" value="" id="mmobile"/>         
            </label>
        	<span class="error_tips"></span>
        </dd>
        <dd>
            <label>
                <span><i class="golden">* </i>省份</span>
                <select name="province" id="province">
                    <option>省份</option>
                    <{foreach from=$provinces key=key item=province}>
                    <option value="<{$province.id}>"<{if $addrs.receiver_province|default:'' && $province.id eq $addrs.receiver_province}> selected="selected"<{/if}>><{$province.name}></option>
                    <{/foreach}>
                </select>
            </label>
            <label><i class="golden">* </i>
               <select name="city" id="city"><option>城市</option></select>
            </label>
            <label><i class="golden">* </i>
            	<select name="county" id="county"><option>区/县</option></select>
            </label>
            <span class="error_tips"></span>
        </dd>
        <dd><label>
                <span><i class="golden">* </i>地址</span>
                <input type="text" name="address" value="<{if $addrs.receiver_address|default:''}><{$addrs.receiver_address}><{/if}>" class="text detailed_address required" onblur="checkEmpty(this)" data-msg="请填写您的详细地址" />
            </label>
        	<span class="error_tips"></span>
        </dd>
        <dd><label>
                <span><i class="golden">* </i>邮政编码</span>
                <input type="text" name="postcode" value="<{if $addrs.receiver_postcode|default:''}><{$addrs.receiver_postcode}><{/if}>" class="text required" value="000000"/>
            </label>
        	<span class="error_tips"></span>
        </dd>
        <dd><label><input type="checkbox" name="setDefault" value="1" class="checkbox"<{if $addrs.sort|default:0 && $addrs.sort eq 9999}> checked="checked"<{/if}> /> 使用此地址作为默认送货地址</label></dd>
    </dl>
    <input type="submit" value="提交" class="btn_submit"/>
     <input type="hidden" value="<{if $addrs.id|default:0}><{$addrs.id}><{/if}>" name="addressid" />
    </form>
</div>
<!--添加新的地址 overlay end-->
<script type="text/javascript">
<{if $addrs.receiver_province|default:0 && $addrs.receiver_city|default:0 && $addrs.receiver_county|default:0}>
	getCitys(<{$addrs.receiver_province}>, <{$addrs.receiver_city}>, <{$addrs.receiver_county}>);
<{else}>
	getCitys(0, 0, 0);
<{/if}>
</script>

