<{include file="header.html"}>

<div class="mainDiv">
<{include file="top.html"}>
<div class="homeCenter">
	<div class="productdiv">
        <div class="productList">
            <h3>我的收藏夹</h3>
            <ul class="clearfix">
            	<{foreach from=$favorites key=key item=favorite}>
                <li class="clearfix">
                    <a href="/product/?id=<{$favorite.skuid}>" target="_blank">
                    <div class="imgDiv"><img src="<{$picpath}><{$favorite.pic}>" /></div>
                    <h4><{$favorite.title}></h4>
                    <span> <{$favorite.sku_name}>  [<{$favorite.sku}>]</span>
                    <span>价格：<em>¥<{$favorite.current_price|string_format:'%.2f'}></em></span>
                    </a>
                    <form action="/buy" method="post" id="productForm_<{$favorite.skuid}>">
                    	<input name="product_ids[<{$favorite.skuid}>]" id="sku_id_<{$favorite.skuid}>" type="hidden" value="<{$favorite.skuid}>" />
                    	<input name="qts[<{$favorite.skuid}>]" type="hidden" value="1">
                    </form>
                    <a href="javascript:favBuy(<{$favorite.skuid}>)" class="buynow">购买</a>
                    <a href="javascript:delFav(<{$favorite.id}>)" class="delfav">删除</a>
                </li>
                <{/foreach}>
            </ul>
        </div>
    </div>
</div>
<div id="paged"><{$paged}></div>

</div>

<{include file="footer.html"}>
