<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" > 
<head> 
  <meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><{if isset($page_title)}><{$page_title}><{else}>帕斯婷分销系统<{/if}></title> 
  <link href="/images/favicon.ico" mce_href="/images/favicon.ico" rel="icon" type="image/x-icon" /> 
  <link rel="stylesheet" href="/css/mobile.css" type="text/css"/>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/jquery.cookie.min.js"></script>
  <script type="text/javascript" src="/js/jquery.elevatezoom.js"></script>
  <script type="text/javascript" src="/js/cart.js"></script>
  <script type="text/javascript" src="/js/fancybox/jquery.fancybox.pack.js"></script>
  <link rel="stylesheet" type="text/css" href="/js/fancybox/jquery.fancybox.css" media="screen" />
</head>
<body>
